%div.container
	%div.col-md-1
		%a{class: 'btn btn-warning', 'ng-href': '#/compras'}Cancelar
	%div.col-md-3
		%button{class: 'btn btn-success', style: 'width:100%', 'ng-disabled': 'no_hay_items', 'ng-click': 'confirmar_compra()'}Confirmar
	%div.col-md-8
		%input{'id': 'buscador', 'ng-model': 'search.$', class: 'form-control', placeholder: 'Buscar...'}
	%br

	%div.col-md-4
		%div.form-group
			%input{class: "form-control", type: 'date', 'ng-model': 'compra.fecha'}
			%select{class: "form-control", 'chosen': true, 'data-placeholder': 'Seleccionar un proveedor...', 'ng-model': 'compra.organizacion_id', 'ng-options': 'organizacion.id as organizacion.nombre for organizacion in organizaciones' }
				%option
			%textarea{placeholder: 'Notas...', style: 'width:100%', 'ng-model': 'compra.desc'}
			%table.table.table-striped
				%thead
					%tr
						%th #
						%th Producto
						%th Precio
						%th Importe
				%tbody
					%tr{'ng-repeat': 'item in compra.operacionitems', 'ng-hide': 'item._destroy'}
						%td {{item.cantidad}}
						%td {{item.producto.nombre}}
						%td
							%input{class: "form-control", type: 'number', 'ng-model': 'item.precio', 'ng-change': 'editar_precio()'}
						%td {{item.cantidad * item.precio | number : fractionSize}}
					%tr{'ng-hide': 'no_hay_items'}
						%td{class: 'warning', colspan:3} Total
						%td{class: 'warning'} {{ compra.total | number : fractionSize }}
					%tr{'ng-show': 'no_hay_items'}
						%td{class: 'info text-right', colspan:4}
							Arme su orden de compra ... 
							%span{class: 'glyphicon glyphicon-share-alt'} 

	%div.col-md-8
		%br
		%div{'ng-repeat': 'producto in productos | orderBy: "nombre" | filter:{organizacion_id: compra.organizacion_id} | filter:search track by $index'}
			%div.panel.panel-info
				%div.panel-body.container-fluid
					%div.col-md-2
						%div.row
							%div.col-md-6
								%div.row
									%button{class: 'btn btn-warning btn-sm'}
										Venta
										%br
										%span{class: 'badge', 'ng-hide': 'producto.en_venta <= 0'} {{producto.en_venta}}
							%div.col-md-6
								%div.row
									%button{class: 'btn btn-success btn-sm'}
										Stock 
										%br
										%span{class: 'badge', 'ng-hide': 'producto.en_venta + 50 <= 0'} {{50 - producto.en_venta}}
						%br
						
						%div.row
							%div.col-md-4
								%div.row
									%button{class: 'btn btn-success', 'ng-click': 'agregar_item(producto)'}
										%span{class: 'glyphicon glyphicon-plus'}
							%div.col-md-4
								%div.row
									%button{class: 'btn', 'ng-click': 'elegir_otro()'}
										%span{class: 'glyphicon glyphicon-shopping-cart'}
							%div.col-md-4
								%div.row	
									%button{class: 'btn btn-danger', 'ng-click': 'restar_item(producto)'}
										%span{class: 'glyphicon glyphicon-minus'}						
					%div.col-md-8
						%a{'ng-href': '#/productos/{{producto.id}}'}
							%h3{class: 'text-uppercase text-primary', style: 'margin-top:0px'} {{producto.nombre}}
						%div{'marked': 'producto.desc'}
						%p de {{producto.organizacion.nombre}}
					%div.col-md-2
						%img{'ng-src': '{{producto.image}}', height: '70px'}
			%div.clearfix




