%div.container
	%div.col-md-1
		%a{class: 'btn btn-success', 'ng-href': '#/compras/new'} Nueva
	%div.col-md-10
		%div.input-group
			%input{class: 'form-control', 'ng-model': 'search.$', placeholder: 'Buscar...'}
			%span.input-group-addon 
				%input{type: 'checkbox', 'ng-model': 'mostrar', 'ng-true-value': 'false', 'ng-false-value': '{{mostrar}}', 'data-toggle': 'tooltip', 'data-placement': 'top', 'title': 'Listar todos los items', 'id': 'mostrar_todos'}
	%div.col-md-1
		%a{class: 'btn btn-warning', 'ng-href': 'compras.csv'} Exportar
%br

%div.container
	%div{'ng-repeat': 'compra in compras | orderBy: "-updated_at" | filter:search | limitTo:mostrar'}
		%div.container.col-md-3
			%div.panel.panel-info		
				%div.panel-body
					%div.row
						%div.col-md-12
							%a{'ng-href': '#/compras/{{compra.id}}'}
								%h4.text-left {{compra.fecha | date: 'mediumDate'}}
								%h1.success.text-center C# {{compra.id}}
					%div.row
						%table.table.table-striped
							%thead
								%tr
									%th #
									%th Producto
									%th Precio
									%th Importe
							%tbody
								%tr 
									%td{class: 'info', colspan: 4} {{compra.organizacion.nombre}}
								%tr{'ng-repeat': 'item in compra.operacionitems'}
									%td {{item.cantidad}}
									%td {{item.producto.nombre}}
									%td {{item.precio}}
									%td {{item.cantidad * item.precio}}
								%tr
									%td{class: 'warning', colspan:3} Total
									%td{class: 'warning'} {{compra.total | number : fractionSize}}
								%tr 
									%td{class: 'info', colspan: 4, 'marked': 'compra.desc'}
				%div.panel-footer.text-right
					%span{class: 'glyphicon glyphicon-remove text-danger', 'ng-click': 'pre_borrar(compra)', 'data-toggle': 'modal', 'data-target': '#myModal'}
		%div{class: 'clearfix', 'ng-if': ' ($index+1) % 4 == 0'}
%t-confirmation-dialog
