%div.container
	%t-op-encabezado
	
	%div.col-md-4
		%br
		%input{type: 'date', 'ng-model': 'op.fecha'}
		%textarea{placeholder: 'Notas...', style: 'width:100%', 'ng-model': 'op.desc'}
		%div.row
			%div{'ng-repeat': 'pagotipo in pagotipos', class: 'col-md-4'}
				%input{name:'cp', type: 'radio', 'ng-model': 'op.pagotipo_id', 'ng-value': 'pagotipo.id', 'ng-change': 'actualizar_precio_pagotipo(pagotipo)'} {{pagotipo.nombre}} ({{pagotipo.factor}})
		%table.table.table-striped
			%thead
				%tr
					%th #
					%th Producto
					%th Precio
					%th Importe
			%tbody
				%tr{'ng-repeat': 'item in op.operacionitems', 'ng-hide': 'item._destroy'}
					%td {{item.cantidad}}
					%td {{item.producto.nombre}}
					%td 
						%input{class: "form-control", type: 'text', 'ng-model': 'item.precio', 'ng-change': 'editar_precio()'}
					%td {{item.cantidad * item.precio | number : fractionSize}}
				%tr{'ng-hide': 'no_hay_items'}
					%td{class: 'warning', colspan:3} Total
					%td{class: 'warning'} {{op.total | number : fractionSize}}
				%tr
					%td{ colspan:4}
						%div.input-group
							%span.input-group-addon	
								Seña &nbsp 
								%input{type: 'checkbox', 'ng-true-value': 'true', 'ng-false-value': 'false', 'ng-model': 'op.reserva'}
							%input{type: 'text', class: 'form-control', 'ng-model': 'op.pago', 'ng-show': 'op.reserva == true', 'ng-disabled': 'op.reserva != true'}
				%tr{'ng-show': 'no_hay_items'}
					%td{class: 'info text-right', colspan:4}
						Arme su orden de venta ... 
						%span{class: 'glyphicon glyphicon-share-alt'} 

	%div.col-md-8
		%br
		%div{'ng-repeat': 'producto in productos | orderBy: "nombre" | filter:search track by $index'}
			%div.panel.panel-info
				%div.panel-body.container-fluid
					%div.col-md-2
						%div.row
							%div.col-md-6
								%div.row
									%button{class: 'btn btn-warning btn-sm'}
										Venta
										%br
										%span{class: 'badge',  'ng-hide': 'cant_prod[producto.id] <= 0'} {{ cant_prod[producto.id] }}
							%div.col-md-6
								%div.row
									%button{class: 'btn btn-success btn-sm'}
										Stock 
										%br
										%span{class: 'badge', 'ng-hide': 'cant_prod[producto.id] + 50 <= 0'} {{50 -  cant_prod[producto.id]}}
						%br
						
						%div.row
							%div.col-md-4
								%div.row
									%button{class: 'btn btn-success', 'ng-click': 'agregar_item(producto)'}
										%span{class: 'glyphicon glyphicon-plus'}
							%div.col-md-4
								%div.row
									%button{class: 'btn', 'ng-click': 'reset_search()'}
										%span{class: 'glyphicon glyphicon-shopping-cart'}
							%div.col-md-4
								%div.row	
									%button{class: 'btn btn-danger', 'ng-click': 'restar_item(producto)'}
										%span{class: 'glyphicon glyphicon-minus'}						
					%div.col-md-8
						%a{'ng-href': '#/productos/{{producto.id}}'}
							%h3{class: 'text-uppercase text-primary', style: 'margin-top:0px'} {{producto.nombre}}
						%div{'marked': 'producto.desc'}
						%p de {{producto.organizacion.nombre}}
					%div.col-md-2
						%img{'ng-src': '{{producto.image}}', height: '70px'}
			%div.clearfix




