%div.container
	%div.col-md-1
		%a{class: 'btn btn-success', 'ng-href': '#/ventas/new'} Nueva
	%div.col-md-11
		%input{'ng-model': 'search.$', class: 'form-control', placeholder: 'Buscar...'}
%br

%div.container
	%div{'ng-repeat': 'venta in ventas | orderBy: "created_at" | filter:search', class: 'container col-md-3'}
		%div.panel.panel-info		
			%div.panel-body
				%div.row
					%div.col-md-12
						%a{'ng-href': '#/ventas/{{venta.id}}'}
							%h1.success.text-center {{venta.fecha | date: 'mediumDate'}}
				%div.row
					%table.table.table-striped
						%thead
							%tr
								%th #
								%th Producto
								%th Precio
								%th Importe
						%tbody
							%tr{'ng-repeat': 'item in venta.operacionitems'}
								%td {{item.cantidad}}
								%td {{item.producto.nombre}}
								%td {{item.precio}}
								%td {{item.cantidad * item.precio}}
							%tr
								%td{class: 'warning', colspan:3} Total
								%td{class: 'warning'} Total
			%div.panel-footer.text-right
				%span{class: 'glyphicon glyphicon-remove text-danger', 'ng-click': 'pre_borrar(venta)', 'data-toggle': 'modal', 'data-target': '#myModal'}
%t-confirmation-dialog
