<div class='container'>
  <div class='col-md-1'>
    <a class='btn btn-warning' ng-href='#/compras'>Cancelar</a>
  </div>
  <div class='col-md-3'>
    <button class='btn btn-success' ng-click='confirmar_compra()' ng-disabled='no_hay_items' style='width:100%'>Confirmar</button>
  </div>
  <div class='col-md-8'>
    <input class='form-control' id='buscador' ng-model='search.$' placeholder='Buscar...'>
  </div>
  <br>
  <div class='col-md-4'>
    <div class='form-group'>
      <div ng-show='es_nuevo'>
        <input class='form-control' ng-model='compra.fecha' type='date'>
        <select chosen class='form-control' data-placeholder='Seleccionar un proveedor...' ng-model='compra.organizacion_id' ng-options='organizacion.id as organizacion.nombre for organizacion in organizaciones'></select>
      </div>
      <div ng-hide='es_nuevo'>
        <br>
        <h4 class='text-center text-warning'>{{compra.organizacion.nombre}}</h4>
        <option></option>
      </div>
      <textarea ng-model='compra.desc' placeholder='Notas...' style='width:100%'></textarea>
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>#</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Importe</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-hide='item._destroy' ng-repeat='item in compra.operacionitems'>
            <td>{{item.cantidad}}</td>
            <td>{{item.producto.nombre}}</td>
            <td>
              <input class='form-control' ng-change='editar_precio()' ng-model='item.precio' type='textarea'>
            </td>
            <td>{{item.cantidad * item.precio | number : fractionSize}}</td>
          </tr>
          <tr ng-hide='no_hay_items'>
            <td class='warning' colspan='3'>Total</td>
            <td class='warning'>{{ compra.total | number : fractionSize }}</td>
          </tr>
          <tr ng-show='no_hay_items'>
            <td class='info text-right' colspan='4'>
              Arme su orden de compra ...
              <span class='glyphicon glyphicon-share-alt'></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class='col-md-8'>
    <br>
    <div ng-repeat='producto in productos | orderBy: "nombre" | filter:{organizacion_id: compra.organizacion_id} | filter:search track by $index'>
      <div class='panel panel-info'>
        <div class='panel-body container-fluid'>
          <div class='col-md-2'>
            <div class='row'>
              <div class='col-md-6'>
                <div class='row'>
                  <button class='btn btn-warning btn-sm'>
                    Compra
                    <br>
                    <span class='badge' ng-hide='cant_prod_en_compra[producto.id] &lt;= 0'>{{cant_prod_en_compra[producto.id]}}</span>
                  </button>
                </div>
              </div>
              <div class='col-md-6'>
                <div class='row'>
                  <button class='btn btn-success btn-sm'>
                    Stock
                    <br>
                    <span class='badge' ng-hide='cant_prod_en_compra[producto.id] + 50 &lt;= 0'>{{50 + cant_prod_en_compra[producto.id] }}</span>
                  </button>
                </div>
              </div>
            </div>
            <br>
            <div class='row'>
              <div class='col-md-4'>
                <div class='row'>
                  <button class='btn btn-success' ng-click='agregar_item(producto)'>
                    <span class='glyphicon glyphicon-plus'></span>
                  </button>
                </div>
              </div>
              <div class='col-md-4'>
                <div class='row'>
                  <button class='btn' ng-click='elegir_otro()'>
                    <span class='glyphicon glyphicon-shopping-cart'></span>
                  </button>
                </div>
              </div>
              <div class='col-md-4'>
                <div class='row'>
                  <button class='btn btn-danger' ng-click='restar_item(producto)'>
                    <span class='glyphicon glyphicon-minus'></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class='col-md-8'>
            <a ng-href='#/productos/{{producto.id}}'>
              <h3 class='text-uppercase text-primary' style='margin-top:0px'>{{producto.nombre}}</h3>
            </a>
            <div marked='producto.desc'></div>
            <p>de {{producto.organizacion.nombre}}</p>
          </div>
          <div class='col-md-2'>
            <img height='70px' ng-src='{{producto.image}}'>
          </div>
        </div>
      </div>
      <div class='clearfix'></div>
    </div>
  </div>
</div>
