%div.container
	%div.col-md-1
		%a{class: 'btn btn-success', 'ng-href': '#/organizaciones/new'} 	Nueva
	%div.col-md-11
		%input{'ng-model': 'search.$', class: 'form-control', placeholder: 'Buscar...'}
%br

%div.container
	%div{'ng-repeat': 'organizacion in organizaciones | orderBy: "nombre" | filter:search', class: 'container col-md-6'}
		%div.panel.panel-info		
			%div.panel-body
				%div.row
					%div.col-md-12
						%a{'ng-href': '#/organizaciones/{{organizacion.id}}'}
							%h1.success.text-center {{organizacion.nombre}}
				%div.row
					%div.col-md-2
						%ul.list-group
							%li.list-group-item.list-group-item-success
								%span.glyphicon.glyphicon-envelope
							%li.list-group-item.list-group-item-info
								%span.glyphicon.glyphicon-phone-alt
							%li.list-group-item.list-group-item-success
								%span.glyphicon.glyphicon-list-alt
					%div.col-md-10
						%li.list-group-item.list-group-item-success {{organizacion.email}}
						%li.list-group-item.list-group-item-info {{organizacion.telefono}}
						%li.list-group-item.list-group-item-success {{organizacion.id_fiscal}}
				%div.row
					%div.col-md-12 
						%li.list-group-item.list-group-item-info {{organizacion.desc}}
			%div.panel-footer.text-right
				%span{class: 'glyphicon glyphicon-remove text-danger', 'ng-click': 'pre_borrar(organizacion)', 'data-toggle': 'modal', 'data-target': '#myModal'}
%t-confirmation-dialog


